
.dice {
  background-image: url("https://www.knobelholz.de/images/stories/schweinchenspiel/schweinchenspiel-pig-hole-produce-steps-12-wooden-game.jpg");
  color: #ffffff;
  font-size: 40px;
}
#btn {
  color: #003366;
}
